body {
  background-image: url(itsdskr.github.io/bkg1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    background-image: url(itsdskr.github.io/bkg1.jpeg);
  }
}
