* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 80%;
  height: 100%;
  padding: 20px;
}

.bg {
  background-image: url("images/bkg_1.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
